/*
  Author: Kaine van Ommeren & Daan Wolfert
  Date: 31-03-2022
  File: style_zelftest.css
 */
body
{
    color: white;
}
article
{
    text-align: center;
}
footer
{
    position: absolute;
    bottom: 0;
}