/*
  Author: Kaine van Ommeren & Daan Wolfert
  Date: 12-04-2022
  File: style_index.css
 */

article
{
    background-color: #0085ca;
    color: white;
    padding: 20px;
    width: 50%;
    height: auto;
    margin-left: 23vw;
    margin-bottom: 80px;
    text-align: center;
}
