/*
  Author: Kaine van Ommeren & Daan Wolfert
  Date: 31-03-2022
  File: style.css
 */
body
{
    margin: 0;
    scroll-behavior: smooth;
}
li
{
    float: left;
    width: 17vw;

}
ul
{
    list-style-type: none;
}
li a
{
    color: white;
    text-decoration: none;
    display: block;
    padding: 25px 20px;
}
a:visited
{
    color: white;
}
li a:hover
{
    background-color: white;
    color: #0085ca;
    transform: scale(1.1);
    transition: 0.3s;
}
footer
{
    position: fixed;
    bottom: 0;
    background-color: #0085ca;
    width: 100vw;
    height: 60px;
}
.icons
{
    float: right;
    margin: -30px 0px 10px 10px;
}
#white
{
    color: white;
}
nav
{
    background-color: #0085ca;
    width: 100%;
    position: fixed;
    top: 0;
}

@media only screen and (max-width: 745px)
{

}